project_github_angular/.editorconfig
project_github_angular/.vscode/extensions.json
project_github_angular/.vscode/extensions.json
project_github_angular/.vscode/tasks.json
project_github_angular/package-lock.json
